<mat-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-input-container>
      <input matInput [ngClass]="{'error' : isValid('firstName')}" placeholder="First Name" formControlName="firstName">
    </mat-input-container>
    <mat-input-container>
      <input matInput [ngClass]="{'error' : isValid('lastName')}" placeholder="Last Name" formControlName="lastName">
    </mat-input-container>
    <mat-input-container>
      <input matInput [ngClass]="{'error' : isValid('email')}" placeholder="Email" type="email" formControlName="email">
    </mat-input-container>
    <mat-input-container>
      <input matInput [ngClass]="{'error' : isValid('password')}" placeholder="Password" type="password" formControlName="password">
    </mat-input-container>
    <mat-input-container>
      <input matInput [ngClass]="{'error' : isValid('confirmPassword')}" placeholder="Confirm Password" type="password" formControlName="confirmPassword">
    </mat-input-container>
    <br/>
    <span *ngIf="form.errors?.mismatchedFields">Passwords do not match!</span>
    <br/>
    <button mat-raised-button color="primary">Register</button>
  </form>
</mat-card>